*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{



}

h1{

    color : green;
}


.page{

    height: 100vh;

}

.home-page{

    

    display: grid;
    grid-template-columns: 50vw 50vw;

    background-color: green;
    background-attachment: fixed;

    
    //position:sticky;
    //z-index: -1;
    //background-attachment: fixed;
    

    .panel{

        //width: 50vw;
        height: 100vh;
        

        &--panelLeft{
 
            //background-color: gray;
            
    
        }
        
        &--panelRight{
    
            background-color: black;
    
            display: grid;
            grid-template-rows: 50% 50%;
    
            .panelRight__section{
    
                width: 100%;
                border: 1px solid white;


                &--Top{

                    .slidePanel{

                        width: 100%;
                        height: 50vh;

                        //overflow:visible;
                        position: relative;
                        z-index: 0;


                        animation: animationSlide1 20s infinite; 
                        animation-direction: alternate;
                        //animation-timing-function:  ease-in-out;

                        @keyframes animationSlide1 { // demander a chatGPT de "re-calculer" l'animation en fonction du nombre d'image(lorsque j'insère une nouvelle image) ou  créer une fonction

                            0%, 12.5% { transform: translateY(0%); }
                            25%, 37.5% { transform: translateY(-100%); }
                            50%, 62.5% { transform: translateY(-200%); }
                            75%, 87.5% { transform: translateY(-300%); }
                            100% { transform: translateY(-300%); }
                            
                        }

                        &__slide{

                            height: 50vh;
                            width: 100%;
                            border: 1px solid green;

                            img{

                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                        }


                    }


                }

                &--Bottom{

                    display: grid;
                    grid-template-columns: 50% 50%;

                    z-index: 1;

                    .panelRight__content{

                        border: 1px solid green;
                        background-color: rgba(0, 255, 0, 0.8);

                    }

                }

            }
    
            
        }
    

       
    }

}


#page-deux{

    /*
    position: absolute;
    margin-top: 100vh;
    */
    


    z-index: 1;

    background-color: yellow;
}

#page-trois{

    /*
    position: absolute;
    margin-top: 200vh;
    */

    z-index: 1;

    background-color: red;
}
