@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap");
/*
$font-family-jomhuria: 'Jomhuria', sans-serif;
$font-family-trirong : 'Trirong' serif;
$font-family-coda : 'Coda' system-ui;
$font-family-poiret-one : 'Poiret One' sans-serif;
$font-family-bakBakOne : "Bakbak One", sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.site-header {
  position: fixed;
  z-index: 100;
}
.site-header--primary-style {
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}
@media (max-width: 768px) {
  .site-header--primary-style {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .site-header--primary-style::before {
    content: "";
    z-index: 2;
    display: block;
    position: fixed;
    background-color: white;
    height: 4rem;
    width: 100%;
    pointer-events: none;
  }
}
.site-header--secondary-style {
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid grey;
  border-bottom-style: dotted;
  display: flex;
}
.site-header .header-title {
  position: relative;
}
.site-header .header-title h1 {
  color: #5E53A7;
}
.site-header .header-title--medium {
  top: 20%;
}
.site-header .header-title--medium h1 {
  position: relative;
  margin: auto;
  width: 100%;
  height: 7rem;
  text-align: center;
  font-size: 7rem;
  font-family: "Teko", sans-serif;
}
@media (max-width: 768px) {
  .site-header .header-title--medium h1 {
    font-size: 5rem;
  }
}
.site-header .header-title--medium h2 {
  position: relative;
  width: 40%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: right;
  color: #08D0F4;
}
.site-header .header-title--medium p {
  font-family: "Lora", serif;
  color: #5E53A7;
  font-style: italic;
  margin-top: 2.5rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 5%;
}
.site-header .header-title--secondary-style {
  margin-left: 5%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-header .header-title--secondary-style h1 a {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0;
  color: #5E53A7;
}
.site-header .header-title--secondary-style h3 {
  align-self: flex-end;
  font-family: "Teko", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 200;
  color: #08D0F4;
}
.site-header .site-navigation {
  position: relative;
  width: 100%;
  top: 20%;
  z-index: 3;
  padding: 0;
  margin-top: 1rem;
  display: grid;
  place-items: center;
}
@media (max-width: 768px) {
  .site-header .site-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 0rem;
    pointer-events: none;
  }
}
.site-header .site-navigation .nav__toggle {
  display: none;
}
@media (max-width: 768px) {
  .site-header .site-navigation .nav__toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 200;
    pointer-events: all;
    opacity: 0;
  }
}
.site-header .site-navigation .nav__toggle:checked + .nav__burger + .container_menu {
  display: flex;
  flex-direction: column;
  pointer-events: all;
}
.site-header .site-navigation .nav__burger {
  display: none;
}
@media (max-width: 768px) {
  .site-header .site-navigation .nav__burger {
    display: block;
    position: absolute;
    cursor: pointer;
    color: #5e53a7;
    top: 1rem;
    right: 1rem;
    z-index: 201;
  }
  .site-header .site-navigation .nav__burger .burger-icon,
  .site-header .site-navigation .nav__burger .close-icon {
    width: 2rem;
    height: 2rem;
  }
  .site-header .site-navigation .nav__burger .close-icon {
    display: none;
  }
}
.site-header .site-navigation .container_menu {
  display: none;
  position: relative;
  height: 100%;
  z-index: 3000;
  max-width: 100%;
}
@media (min-width: 769px) {
  .site-header .site-navigation .container_menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .site-header .site-navigation .container_menu {
    position: absolute;
    width: 100%;
    top: 4rem;
    height: calc(100% - 4rem);
    background-color: rgba(230, 210, 117, 0.98);
  }
}
.site-header .site-navigation .nav__menu {
  display: flex;
  list-style-type: none;
  z-index: 3000;
}
@media (min-width: 769px) {
  .site-header .site-navigation .nav__menu--primary-style {
    background-color: #5E53A7;
    border-radius: 40px;
  }
}
@media (min-width: 769px) {
  .site-header .site-navigation .nav__menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .site-header .site-navigation .nav__menu {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
    width: 100%;
    flex-direction: column;
  }
}
.site-header .site-navigation .nav__menu__item {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
@media (min-width: 769px) {
  .site-header .site-navigation .nav__menu__item:first-child {
    border-radius: 40px 0 0 40px;
  }
  .site-header .site-navigation .nav__menu__item:last-child {
    border-radius: 0 40px 40px 0;
  }
}
@media (max-width: 768px) {
  .site-header .site-navigation .nav__menu__item {
    flex: none;
  }
}
.site-header .site-navigation .nav__menu__item:hover {
  background-color: #E6D275;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}
.site-header .site-navigation .nav__menu__item--active {
  background-color: #08D0F4;
}
.site-header .site-navigation .nav__menu__item--active .nav__menu__item__link {
  color: white;
}
.site-header .site-navigation .nav__menu__item__link {
  display: block;
  width: max-content;
  height: 3.5rem;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .site-header .site-navigation .nav__menu__item__link--secondary-style {
    color: #5E53A7;
  }
}
.site-header .site-navigation .nav__menu__item__link:hover {
  color: white;
}
.site-header .site-navigation .nav__menu__item__link .menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
@media (min-width: 769px) {
  .site-header .site-navigation .nav__menu__item__link .menu-icon.menu-icon--desktop-hidden {
    display: none;
  }
}
.site-header .site-navigation .nav__menu__item__link .fas {
  color: red;
  margin-right: 0.5rem;
}

.social-media {
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: fit-content;
}
@media (max-width: 768px) {
  .social-media--desktop-only {
    display: none;
  }
}
.social-media--desktop-only--primary-style {
  margin-top: 2rem;
  left: calc(50% - 96px);
  top: 0;
  position: absolute;
}
.social-media--desktop-only--secondary-style {
  align-self: center;
  margin-right: 5%;
  z-index: 1000;
}
.social-media--mobile-only {
  display: none;
}
@media (max-width: 768px) {
  .social-media--mobile-only {
    display: flex;
    align-self: center;
  }
}
.social-media .social-link {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
@media (min-width: 769px) {
  .social-media .social-link {
    border-radius: 50%;
  }
}
.social-media .social-link:hover {
  transform: scale(1.1);
}
.social-media .social-link img {
  width: 24px;
  height: auto;
}

.video-background {
  position: relative;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 768px) {
  .video-background {
    width: 100vw;
    position: relative;
  }
}
.video-background .bg-video {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  object-position: bottom right;
  z-index: 2;
}
@media (max-width: 768px) {
  .video-background .bg-video {
    width: 100vw;
    object-fit: cover;
    object-position: bottom right;
  }
}

.site-footer {
  position: relative;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
  z-index: 100;
  color: #aca6d3;
}
.site-footer a {
  color: #4b4285;
  text-decoration: none;
}
.site-footer a:hover, .site-footer a:focus {
  text-decoration: underline;
}
.site-footer--first-style {
  position: fixed;
  width: 50%;
}
@media (max-width: 768px) {
  .site-footer {
    position: relative;
    width: 100%;
    background-color: #5E53A7;
    color: #dcdaec;
  }
  .site-footer a {
    color: #fcfcfd;
  }
}

@keyframes animationSlide1 {
  0%, 12.5% {
    transform: translateY(0%);
  }
  25%, 37.5% {
    transform: translateY(-100%);
  }
  50%, 62.5% {
    transform: translateY(-200%);
  }
  75%, 87.5% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-300%);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-3 10:13:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
.focus-in-expand, .site-header .header-title h1 {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
.pulsate-bck {
  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@media (min-width: 769px) {
  .slide-in-blurred-top, .site-header .site-navigation .container_menu {
    -webkit-animation: slide-in-blurred-top 1.4s cubic-bezier(0.23, 1, 0.32, 1) both;
    animation: slide-in-blurred-top 1.4s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.btn, .modal__button, .btn--accent, .btn--secondary, .btn--primary, .news-aside .news-newsletter .newsletter-form__button-send {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 2.5rem;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover, .modal__button:hover, .btn--accent:hover, .btn--secondary:hover, .btn--primary:hover, .news-aside .news-newsletter .newsletter-form__button-send:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}
.btn:active, .modal__button:active, .btn--accent:active, .btn--secondary:active, .btn--primary:active, .news-aside .news-newsletter .newsletter-form__button-send:active {
  transform: scale(0.95);
}
.btn--primary, .news-aside .news-newsletter .newsletter-form__button-send {
  background-color: #5E53A7;
}
.btn--primary:hover, .news-aside .news-newsletter .newsletter-form__button-send:hover {
  background-color: #4b4285;
}
.btn--secondary {
  background-color: #08D0F4;
}
.btn--secondary:hover {
  background-color: #ddc141;
}
.btn--secondary:active {
  background-color: #057c91;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn--accent {
  background-color: #E6D275;
  color: #5E53A7;
}
.btn--accent:hover {
  background-color: #dec44a;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

/*

// Exemple d'utilisation d'un mixin pour appliquer des styles conditionnels
@mixin spinner($size: 20px, $border-color: #09f) {
    border: 4px solid rgba(0, 0, 0, .1);
    width: $size;
    height: $size;
    border-radius: 50%;
    border-left-color: $border-color;
    animation: spin 1s linear infinite;
}
*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 32, 65, 0.96);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
  /*
  &__button-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc; // couleur de fond de la div bouton
    opacity: 0.5; // opacité de la div bouton
    border-radius: 5px;
  }
  */
}
.modal__content {
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.modal__header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal__close {
  justify-self: flex-end;
  align-self: flex-end;
  cursor: pointer;
  font-size: 2rem;
}
.modal__icon {
  height: 3.5rem;
}
.modal__icon img {
  height: 100%;
  width: auto;
}
.modal__title {
  color: #5E53A7;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
}
.modal__text {
  margin-top: 10px;
  color: green;
}
.modal__button-container {
  background-color: #E6D275;
  border-radius: 0 0 5px 5px;
  position: relative;
  display: flex;
  justify-content: center;
}
.modal__button {
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #5E53A7;
}

.tooltip-link {
  position: relative;
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}
.tooltip-link:focus, .tooltip-link:hover {
  outline: none;
}

.tooltip-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 32, 65, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 200;
}
.tooltip-container--active {
  opacity: 1;
  visibility: visible;
}

.tooltip-content {
  max-width: 90%;
  max-height: 90%;
  width: 500px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.tooltip-content .tooltip-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}
.tooltip-content .tooltip-close:hover, .tooltip-content .tooltip-close:focus {
  color: #ff0000;
}
.tooltip-content a {
  display: block;
  margin-top: 0.5rem;
  color: #007BFF;
  text-decoration: none;
}
.tooltip-content a:hover, .tooltip-content a:focus {
  text-decoration: underline;
}

.tooltip-content--active {
  opacity: 1;
  transform: scale(1);
}

/* Règles CSS pour les écrans de largeur 600px ou moins (typiquement smartphones) */
/* Règles CSS pour les écrans de largeur plus de 601px (typiquement tablettes, laptops et desktops) */
.consent-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.consent-checkbox input[type=checkbox] {
  margin-right: 0.5rem;
  transform: scale(1.25);
  margin-top: 0.1rem;
  align-self: flex-start;
  flex: 0;
}
.consent-checkbox span {
  padding: 0;
}
.consent-checkbox span p {
  margin: 0;
  text-align: center;
  font-style: italic;
  color: #796816;
}
.consent-checkbox span p a {
  color: #4e430e;
  text-decoration-line: underline;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/paysage_silhouette_vectoriel_00.png);
  background-size: 100% 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.btn-container {
  margin-top: 90px;
  margin-bottom: 16px;
}
.btn-container .back-button {
  margin-left: 5%;
  cursor: pointer;
  border-radius: 0;
  background-color: #5E53A7;
}

.news-main-content {
  position: relative;
  z-index: 1;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  left: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .news-main-content {
    width: 100%;
    left: 0;
    top: 0;
  }
}
.news-main-content .news-banner {
  width: 100%;
  display: block;
}
.news-main-content .news-banner__img {
  width: 100%;
  object-fit: cover;
}
.news-main-content .news-info {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .news-main-content .news-info {
    padding: 2rem 1.3rem;
  }
}
.news-main-content .news-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin: 8px 0;
  color: #5E53A7;
}
.news-main-content .news-info .news-date {
  font-size: 1rem;
  color: #5E53A7;
}
.news-main-content .news-info .news-text {
  padding: 2rem 0;
  color: #413a74;
}
.news-main-content .news-info .news-text h2 {
  color: white;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
  border-radius: 2.5rem;
  background-color: #5E53A7;
  margin-top: 0;
  margin-left: 0;
}
.news-main-content .news-info .news-text p {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-indent: 2rem;
  line-height: 2;
  padding: 1rem 1.4rem;
  color: rgba(94, 83, 167, 0.9);
  margin-bottom: 16px;
}
.news-main-content .news-info .news-text .news-text__intro {
  font-family: "Lora", serif;
  color: #5E53A7;
  font-style: italic;
  margin-top: 2.5rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  color: #383163;
  margin-top: 0;
}

.news-aside {
  position: absolute;
  top: calc(90px + 2.6rem + 16px);
  width: 25%;
  right: 5%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .news-aside {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
  }
}
.news-aside .news-newsletter {
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .news-aside .news-newsletter {
    min-height: 50vh;
    height: max-content;
  }
}
.news-aside .news-newsletter h2 {
  color: #5E53A7;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
  height: fit-content;
  border-bottom: 2px solid grey;
  border-bottom-style: dotted;
}
.news-aside .news-newsletter .newsletter-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.news-aside .news-newsletter .newsletter-form__title-label {
  font-family: "Lora", serif;
  color: #5E53A7;
  font-style: italic;
  margin-top: 2.5rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 0;
  flex: 1;
}
.news-aside .news-newsletter .newsletter-form__group {
  flex-grow: 1;
  background-color: #E6D275;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.news-aside .news-newsletter .newsletter-form__input-email {
  position: relative;
  border: none;
  max-width: 300px;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
}
.news-aside .news-newsletter .newsletter-form__button-send {
  background-color: #5E53A7;
  color: white;
  margin-bottom: 20px;
}
.news-aside .news-latest {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: max-content;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}
.news-aside .news-latest h2::before {
  content: "";
  background-color: #5E53A7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: -1;
}
.news-aside .news-latest h2 {
  z-index: 1;
  height: 20%;
  color: #5E53A7;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
  color: white;
}
.news-aside .news-latest ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  padding: 0 2rem 2rem;
  text-align: center;
}
.news-aside .news-latest ul li {
  border-bottom: 1px solid rgba(94, 83, 167, 0.5);
  margin-top: 1rem;
}
.news-aside .news-latest ul li a {
  text-decoration: none;
  color: #5E53A7;
  line-height: 2rem;
}
.news-aside .news-latest ul li a:hover {
  color: #0000ee;
}

/*# sourceMappingURL=news-details.css.map */
